.home-image {
  background-image: url(../../../../public/Dragon_Ball_Z.webp);
  background-size: cover;
  width: 100%;
  height: 400px; /* Ajusta el tamaño según sea necesario */
}

.home {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
.home-desc{
  margin-left: 20px;
  align-self: start;
}
.home-link{
  width: 15%;
  align-self: center;
}
.home-image{
  margin-top: 20px;
}

/* Responsive design for small screens */
/*between 320px and 500px*/
@media screen and (min-width: 320px) and (max-width: 500px) {
  a {
    font-size: small;
  }
  .home-link{
     width: auto;
  }
  .home-image {
    background-image: url(../../../../public/Dragon_Ball_Z_small.webp);
    background-size: cover;
    width: 100%;
    height: 100px; /* Ajusta el tamaño según sea necesario */
    scrollbar-width: none;
  }
}
/*for screens smaller than 320px*/
@media (max-width: 320px) {
  a {
    font-size: smaller;
  }
  .home-link{
     width: auto;
  }
  .home-image {
    background-image: url(../../../../public/Dragon_Ball_Z_small.webp);
    background-size: cover;
    width: 100%;
    height: 100px; /* Ajusta el tamaño según sea necesario */
    scrollbar-width: none;
  }
}