.selected-date {
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}
.calendario-page-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.calendario {
  margin: 20px;
  width: 400px;
}
.highlight-date .mat-calendar-body-cell-content {
  background-color: red;
  color: white;
  border-radius: 50%;
}