.character-detail{
    display: flex;
}
.character-detail-image{
    height: 500px;
    margin: 20px;
}
.character-detail-button{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}